@import url('https://fonts.googleapis.com/css?family=News+Cycle|Teko');

//icoon
.icoon {
    margin-right:30px;
    margin-top:5px;
    color: white;
}

.iconen{
     color: white;
    padding-right: 20px;
}

.icooncontact{
    margin-top:5px;
    color:#0b799b;
}

//afbeeldingen
.foto1{
    background: url(../../images/halvefoto.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
}

.partners{
    margin-bottom:30px;
}

.header{
    background: no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

//Google
.google{
    display:flex;
    text-align: center;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .justify-content-end{
        padding-right:0px;
    }
    .partners{
        -webkit-filter: blur(3px);
        filter: blur(3px);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .partners:hover{
        -webkit-filter: blur(0);
        filter: blur(0);
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
